@media (min-width: 769px) {
    /* General classnames */
    .pc-only {
        display: inline-block;
    }

    .mobile-only {
        display: none;
    }

    .pc-flex-col {
        display: flex;
        flex-direction: column;
    }

    .pc-flex-row {
        display: flex;
        flex-direction: row;
    }

    .pc-align-start {
        align-items: flex-start;
    }
}