/* Import fonts and styling fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: "Lato", sans-serif;
    color: var(--primary-text-p-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    color: var(--primary-text-header-color);
}

h1 {
    font-size: 3rem;
    margin-bottom: var(--spacing-s);
}

h2 {
    font-size: 2.5rem;
    margin-bottom: var(--spacing-xs);
}

h3 {
    font-size: 2rem;
    margin-bottom: var(--spacing-2xs);
}

h4 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: var(--spacing-3xs);
}

h5 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: var(--spacing-3xs);
}

h6 {
    max-width: 200px;
    padding: 0 12px;
    margin-bottom: var(--spacing-xs);
    border-radius: var(--rounding-s);

    background-color: var(--action-color);
    color: var(--action-text-color);

    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}

h7 {
    max-width: 200px;
    padding: 0 12px;
    margin-bottom: var(--spacing-xs);
    border-radius: var(--rounding-s);

    background-color: var(--action-color-2);
    color: var(--secondary-text-color);

    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}

/* General classnames */
.content {
    max-width: 1200px;
    padding: 0 var(--spacing-s);
    margin: auto;
}

.mobile-only {
    display: inline-block;
}

.pc-only {
    display: none;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

/* General classnames for spacing */
.mb-m {
    margin-bottom: var(--spacing-m);
}

.mb-l {
    margin-bottom: var(--spacing-l);
}

.mb-xl {
    margin-bottom: var(--spacing-xl);
}

.mb-3xl {
    margin-bottom: var(--spacing-3xl);
}

.gap-m {
    gap: var(--spacing-m);
}

.gap-l {
    gap: var(--spacing-l);
}