---
import { Image } from "astro:assets";
import CaseStudyImage from "../assets/images/case-study-image.png";
import Image7 from "../assets/images/image-7.png";
import Image8 from "../assets/images/image-8.jpg";

import MainLayout from "../layouts/MainLayout.astro";
import HeroSection from "../components/HeroSection.astro";
import Button from "../components/Button.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Newsletter from "../components/Newsletter.astro";
---

<MainLayout title="Case study">
  <Header />

  <main>
    <HeroSection
      variant="small"
      image={CaseStudyImage}
      title="Case Studies single"
      header="Taxes & Efficiency"
    />

    <section class="content">
      <Image src={Image7} alt="Image of pc with code" />
      <div class="study-card flex-col pc-flex-row">
        <div class="flex-row case-flex">
          <div class="flex-col">
            <h5>Case Name</h5>
            <p>Taxes & Efficiency</p>
          </div>
          <div class="flex-col">
            <h5>Category</h5>
            <p>Business</p>
          </div>
          <div class="flex-col">
            <h5>Date</h5>
            <p>27th September 2022</p>
          </div>
        </div>
        <Button color="action" text="Live Preview" />
      </div>

      <div class="project-overview flex-col">
        <h2>Project Overview</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident.
        </p>
        <ul>
          <li>
            It brings the right people together with all the right information
            and tools to get work done
          </li>
          <li>
            We provide operational efficiency, data security, and flexible scale
          </li>
          <li>
            Your best work, together in one package that works seamlessly from
            your computer
          </li>
          <li>
            Delivers the tools you need to save time Improve field performance
            always
          </li>
        </ul>

        <h3>Storyboard</h3>
        <p>
          Completely synergize resource taxing relationships via premier niche
          markets. Professionally cultivate one-to-one customer service with
          robust ideas. Dynamically innovate resource-leveling customer service
          for state of the art customer service. Objectively innovate empowered
          manufactured products whereas parallel platforms. Holistically
          predominate extensible testing procedures for reliable supply chains.
        </p>
        <p>
          Proactively envisioned multimedia based expertise and cross-media
          growth strategies. Seamlessly visualize quality intellectual capital
          without superior collaboration and idea-sharing. Holistically
          pontificate installed base portals after maintainable products
          completely pursue scalable customer service.
        </p>
        <Image src={Image8} alt="Image of two girls" />

        <h3>Project result</h3>
        <p>
          Leverage agile frameworks to provide a robust synopsis for high level
          overviews. Iterative approaches to corporate strategy foster
          collaborative thinking to further the overall value proposition.
          Organically grow the holistic world view of disruptive innovation via
          workplace diversity and empowerment.
        </p>
        <p>
          Bring to the table win-win survival strategies to ensure proactive
          domination. At the end of the day, going forward, a new normal that
          has evolved from generation X is on the runway heading towards a
          streamlined cloud solution. User generated content in real-time will
          have multiple touchpoints for offshoring.
        </p>
      </div>
    </section>

    <Newsletter />
  </main>

  <Footer />
</MainLayout>

<style>
  .content img {
    width: 100%;
    max-height: 200px;
    border-radius: var(--rounding-s);
    position: relative;
    z-index: -1;
    object-fit: cover;
  }

  .study-card {
    max-width: 1030px;
    margin: auto;
    margin: -24px -16px;
    margin-bottom: var(--spacing-2xl);
    padding: var(--spacing-l);
    border-radius: var(--rounding-m);
    background-color: var(--secondary-color);

    gap: var(--spacing-l);
    align-items: center;

    & * {
      color: var(--secondary-text-color);
    }
  }

  .case-flex {
    width: 100%;
    justify-content: space-between;
    text-align: center;
  }

  .project-overview {
    max-width: 800px;
    margin: auto;

    & p {
      margin-bottom: var(--spacing-m);
    }

    & ul {
      margin: var(--spacing-s);
      list-style: inside;

      & li {
        margin-bottom: var(--spacing-s);
      }
    }

    & h3 {
      margin: var(--spacing-m) 0;
    }

    & img {
      height: auto;
      aspect-ratio: 2 / 1;
      margin: auto;
      margin-bottom: var(--spacing-m);
      border-radius: 0;
    }
  }

  @media (min-width: 769px) {
    .content img {
      max-height: 450px;
    }

    .study-card {
      margin: -50px auto var(--spacing-3xl) auto;
      padding: var(--spacing-2xl);
      justify-content: space-between;
      align-items: flex-start;
    }

    .case-flex {
      width: 74%;
      justify-content: flex-start;
      gap: var(--spacing-3xl);
      text-align: start;
    }

    .project-overview img {
      max-width: 700px;
    }
  }
</style>
