---
import { Image } from "astro:assets";
import HeroImage from "../assets/images/home-hero-section.jpg";
import Image2 from "../assets/images/image-2.jpg";

import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import HomeInfoCards from "../components/HomeInfoCards.astro";
import Button from "../components/Button.astro";
import CheckIcon from "../assets/icons/CheckIcon.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
import ValueSection from "../components/ValueSection.astro";
import Newsletter from "../components/Newsletter.astro";
import Footer from "../components/Footer.astro";
import ContactUsSection from "../components/ContactUsSection.astro";
---

<MainLayout title="Forside">
  <Header />

  <main>
    <section class="hero pc-flex-row">
      <div class="description-section flex-col flex-1">
        <h1>Adam Buschemia Business Consultant</h1>
        <p>
          Get help from Alex Moore, a professional business coach with advanced
          experience on growth and business scaling.
        </p>
        <Button color="primary" text="Book A Meeting" />
      </div>
      <div class="image-section pc-only flex-1">
        <Image src={HeroImage} alt="Image of CEO of AskExperts" />
      </div>
    </section>

    <section class="content">
      <div class="info-cards flex-col gap-m pc-flex-row justify-center mb-3xl">
        <HomeInfoCards
          heading="Finance & Restructuring"
          text="Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling."
          buttonText="Our Services"
        />
        <HomeInfoCards
          heading="Our Approach"
          text="Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling."
          buttonText="More About"
        />
        <HomeInfoCards
          heading="Consultalk Result"
          text="Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling."
          buttonText="Explore Our Solution"
        />
      </div>

      <section class="expect-section">
        <div class="mb-m">
          <h6>We'll work with you</h6>
          <h2>What To Expect?</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
          <ul>
            <li>
              <div>
                <CheckIcon />
              </div>
              Bring to the table win-win survival strategies to ensure proactive
              domination. At the end of the day.
            </li>
            <li>
              <div>
                <CheckIcon />
              </div>
              Capitalize on low hanging fruit to identify a ballpark value added
              activity to beta test override the digital.
            </li>
          </ul>
        </div>
        <Image src={Image2} alt="Image of employees of AskExperts" />
      </section>
    </section>

    <ExperienceSection />

    <ValueSection variant="dark" color="primary" />

    <ContactUsSection />

    <Newsletter />
  </main>

  <Footer />
</MainLayout>

<style>
  .hero {
    width: 100%;
    background-color: var(--secondary-color);
    margin-bottom: var(--spacing-2xl);

    & .description-section {
      align-items: center;
      padding: 15%;

      & * {
        max-width: 500px;
        color: var(--secondary-text-color);
      }

      & .primary {
        align-self: flex-start;
      }
    }
  }

  & .image-section {
    flex: 1;

    & img {
      object-fit: cover;
      object-position: 0 22%;
    }
  }

  .expect-section {
    margin-bottom: var(--spacing-3xl);

    & img {
      max-height: 400px;
      object-fit: cover;
      object-position: 0 30%;
      border-radius: var(--rounding-m);
    }

    & ul {
      margin-top: var(--spacing-m);
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xs);

      & li {
        display: flex;
        gap: var(--spacing-xs);
      }
    }
  }

  @media (min-width: 769px) {
    .hero {
      height: 616px;

      & .description-section {
        padding: 0;
        align-items: flex-end;
        justify-content: center;

        & > * {
          margin-right: var(--spacing-3xl);
        }
      }
    }

    .info-cards {
      margin-top: -200px;
    }

    .expect-section {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      gap: var(--spacing-2xl);

      & div {
        grid-column: 2 / 3;
      }

      & img {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
    }
  }
</style>
