---
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import HomeInfoCards from "../components/HomeInfoCards.astro";
import Button from "../components/Button.astro";
import HeroSectionImage from "../images/home-hero-section.jpg";
import CheckIcon from "../icons/CheckIcon.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
import ValueSection from "../components/ValueSection.astro";
---

<MainLayout title="Forside">
  <Header />
  <main>
    <section class="hero-section pc-flex-row">
      <div class="description-section flex-col">
        <h1>Adam Buschemia Business Consultant</h1>
        <p>
          Get help from Alex Moore, a professional business coach with advanced
          experience on growth and business scaling.
        </p>
        <Button color="primary" buttonText="Book A Meeting" />
      </div>
      <div class="image-section pc-only">
        <Image src={HeroSectionImage} alt="Billede af en kvinde" />
      </div>
    </section>

    <section class="content">
      <div class="flex-col gap-m pc-flex-row justify-center mb-3xl">
        <HomeInfoCards
          heading="Finance & Restructuring"
          text="Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling."
          buttonText="Our Services"
        />
        <HomeInfoCards
          heading="Our Approach"
          text="Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling."
          buttonText="More About"
        />
        <HomeInfoCards
          heading="Consultalk Result"
          text="Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling."
          buttonText="Explore Our Solution"
        />
      </div>

      <section class="expect-section">
        <div class="mb-m">
          <h6>We'll work with you</h6>
          <h2>What To Expect?</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
          <ul>
            <li>
              <div>
                <CheckIcon />
              </div>
              Bring to the table win-win survival strategies to ensure proactive
              domination. At the end of the day.
            </li>
            <li>
              <CheckIcon />
              Capitalize on low hanging fruit to identify a ballpark value added
              activity to beta test override the digital.
            </li>
          </ul>
        </div>
        <Image src={HeroSectionImage} alt="Billede af kvinde" />
      </section>
    </section>

    <ExperienceSection />

    <ValueSection variant="dark" />
  </main>
</MainLayout>

<style>
  .hero-section {
    width: 100%;
    background-color: var(--secondary-color);
    margin-bottom: var(--spacing-2xl);

    & .description-section {
      align-items: center;
      padding: 15%;

      & * {
        max-width: 500px;
        color: var(--secondary-text-color);
      }

      & .primary {
        align-self: flex-start;
      }
    }
  }

  & .image-section {
    flex: 1;

    & img {
      object-fit: cover;
      object-position: 0 22%;
    }
  }

  .expect-section {
    margin-bottom: var(--spacing-3xl);

    & img {
      max-height: 300px;
      object-fit: cover;
      border-radius: var(--rounding-m);
    }

    & ul {
      margin-top: var(--spacing-xs);
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xs);

      & li {
        display: flex;
        gap: var(--spacing-xs);
      }
    }
  }

  @media (min-width: 769px) {
    .hero-section {
      height: 616px;

      & .description-section {
        padding: 0;
        margin-right: var(--spacing-3xl);
        flex: 1;
        align-items: flex-end;
        justify-content: center;
      }
    }

    .expect-section {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      gap: var(--spacing-2xl);

      & div {
        grid-column: 2 / 3;
      }

      & img {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
    }
  }
</style>
