---
import { Image } from "astro:assets";
import TeamImage from "../assets/images/team-image.png";

import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HeroSection from "../components/HeroSection.astro";
---

<MainLayout title="Team">
  <Header />

  <main>
    <HeroSection
      variant="small"
      image={TeamImage}
      title="TEAM"
      header="The Consultors"
    />
  </main>

  <Footer />
</MainLayout>
