---
import { Image } from "astro:assets";

import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout title="Team">
  <Header />

  <main></main>

  <Footer />
</MainLayout>
