---
import { Image } from "astro:assets";
import TeamImage from "../assets/images/team-image.png";

import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HeroSection from "../components/HeroSection.astro";
import TeamCardSection from "../components/TeamCardSection.astro";
import Button from "../components/Button.astro";
import Newsletter from "../components/Newsletter.astro";
---

<MainLayout title="Team">
  <Header />

  <main>
    <HeroSection
      variant="small"
      image={TeamImage}
      title="TEAM"
      header="The Consultors"
    />

    <section class="content">
      <div class="heading-section flex-col pc-flex-row space-between">
        <div>
          <h2>Meet Our Great Team</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad
            minim veniam, quis nostrud exercitation.
          </p>
        </div>

        <Button color="secondary" text="Join our team" />
      </div>

      <TeamCardSection gridVariant="big-grid" />
    </section>

    <Newsletter />
  </main>

  <Footer />
</MainLayout>

<style>
  .heading-section {
    margin-bottom: var(--spacing-l);
    align-items: flex-end;

    > * {
      margin-bottom: var(--spacing-s);
    }

    & > div {
      align-items: flex-start;
      max-width: 630px;
    }
  }
</style>
