---
const { text, color } = Astro.props;
---

<button class={color}>{text}</button>

<style>
  button {
    padding: 16px 32px;
    border-radius: var(--rounding-l);
    font-weight: 600;
    cursor: pointer;
  }

  button:hover {
    text-decoration: underline;
  }

  .primary {
    background-color: var(--primary-color);
    color: var(--action-text-color);
  }

  .secondary {
    background-color: var(--secondary-color-shade);
    color: var(--secondary-text-color);
  }

  .action {
    background-color: var(--action-color);
    color: var(--action-text-color);
  }
</style>
