---
import TeamCard from "./TeamCard.astro";
---

<section>
  <TeamCard
    image="/src/assets/images/sarah.jpg"
    name="Sarah Jasmine"
    variant="action"
    jobTitle="CEO at Company"
  />
</section>
