---

---

<section>
  <div class="content flex-col align-center">
    <h3>AskExperts</h3>
    <hr />
    <p>
      ©2022 Consultalk. All rights reserved | Terms of Service | Privacy Policy
    </p>
  </div>
</section>

<style>
  section {
    padding: var(--spacing-xl);
    background-color: var(--secondary-color);

    & hr {
      width: 110%;
      margin: var(--spacing-l) 0;
      border: 1px solid var(--primary-text-p-color);
    }

    & h3,
    p {
      color: var(--secondary-text-color);
      text-align: center;
    }
  }
</style>
