---

---

<button>Login</button>

<style>
  button {
    padding: 4px 16px 6px 16px;
    border-radius: 20px;
    background-color: var(--action-color);
    color: var(--action-text-color);
  }
</style>
