---
import Button from "../components/Button.astro";
---

<section class="content">
  <div class="box content flex-col pc-flex-row space-between gap-l">
    <div class="flex-col align-center pc-align-start">
      <h3>Subscribe Our Newsletter</h3>
      <p>Build stronger Customer Relationships with Consultalk</p>
    </div>
    <div class="flex-col pc-flex-row gap-m align-center">
      <div class="email">your mail address</div>
      <Button color="action" text="Subscribe" />
    </div>

    <div class="dot-pattern"></div>
    <div class="action-2-pattern"></div>
  </div>
</section>

<style>
  .box {
    position: relative;
    padding: var(--spacing-xl);
    margin-top: var(--spacing-2xl);
    margin-bottom: var(--spacing-3xl);
    border-radius: var(--rounding-s);
    background-color: var(--secondary-color);
    overflow: hidden;
    z-index: -2;

    & .dot-pattern {
      width: 360px;
      transform: rotate(43.6deg);

      right: -165px;
      top: -305px;
    }

    & .action-2-pattern {
      aspect-ratio: 5 / 4;
      height: 285px;
      transform: rotate(135deg);

      right: 90%;
      top: 45%;
    }

    & h3,
    p {
      color: var(--secondary-text-color);
    }
  }

  .email {
    width: 300px;
    padding: 22px var(--spacing-l);
    border-radius: var(--rounding-l);
    background-color: var(--primary-color);
  }

  @media (min-width: 769px) {
    .box {
      padding: var(--spacing-3xl);
      margin-top: var(--spacing-3xl);
      margin-bottom: calc(var(--spacing-xl) * 3);

      & .dot-pattern {
        right: -140px;
        top: -200px;
      }

      & .action-2-pattern {
        right: -100px;
        top: 235px;
      }
    }
  }
</style>
