---
import TeamCard from "./TeamCard.astro";

const { gridVariant } = Astro.props;
---

<section>
  <div class="team-grid">
    <TeamCard
      link="/team/sarah-jasmine"
      image="/src/assets/images/sarah.jpg"
      name="Sarah Jasmine"
      variant="action"
      jobTitle="CEO at Company"
    />

    <TeamCard
      link="/team/john-carter"
      image="/src/assets/images/john.jpg"
      name="John Carter"
      variant="secondary"
      jobTitle="Manager"
    />

    <TeamCard
      link="/team/daisy-stella"
      image="/src/assets/images/daisy.jpg"
      name="Daisy Stella"
      variant="secondary"
      jobTitle="CEO at Company"
    />

    <div class={gridVariant}>
      <TeamCard
        link="/team/maya-elizabeth"
        image="/src/assets/images/maya.jpg"
        name="Maya Elizabeth"
        variant="secondary"
        jobTitle="CEO at Company"
      />
    </div>

    <div class={gridVariant}>
      <TeamCard
        link="/team/ryan-jackson"
        image="/src/assets/images/ryan.png"
        name="Ryan Jackson"
        variant="secondary"
        jobTitle="CEO at Company"
      />
    </div>

    <div class={gridVariant}>
      <TeamCard
        link="/team/lilly-victoria"
        image="/src/assets/images/lilly.jpg"
        name="Lilly Victoria"
        variant="secondary"
        jobTitle="CEO at Company"
      />
    </div>
  </div>
</section>

<style>
  section {
    max-width: 1200px;
    margin-inline: auto;
    container-type: inline-size;
  }

  /* Classnames for different grid variants */
  .small-grid {
    display: none;
  }

  .big-grid {
    display: inline-block;
  }

  .team-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    gap: var(--spacing-l);
  }

  @container (width < 400px) {
    .team-grid {
      grid-template-columns: minmax(50px, 1fr);
    }
  }

  @container (width > 700px) {
    .team-grid {
      grid-template-columns: repeat(3, minmax(200px, 1fr));
      gap: var(--spacing-xl);

      & .big-grid {
        margin-top: var(--spacing-l);
      }
    }
  }
</style>
