---
import Button from "../components/Button.astro";
import BestFeaturesIcon from "../assets/icons/BestFeaturesIcon.astro";
import CreativeIdeasIcon from "../assets/icons/CreativeIdeasIcon.astro";
import EasySolutionsIcon from "../assets/icons/EasySolutionsIcon.astro";
import ExperienceIcon from "../assets/icons/ExperienceIcon.astro";
import ValueCard from "./ValueCard.astro";
const { variant, color } = Astro.props;
---

<section class={variant}>
  <div class="content">
    <div class="flex-col pc-flex-row space-between mb-xl">
      <div class="core-values">
        <h6>Growing With our clients</h6>
        <h2>Our core values & principles</h2>
        <p>
          Capitalize on low hanging fruit to identify a ballpark value added
          activity beta test. Override the digital divide with additional from
          DevOps.
        </p>
      </div>
      <Button color={color} text="Get In Touch" />
    </div>
    <div class="mobile-wrap flex-row gap-l">
      <ValueCard
        header="Creative Ideas"
        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget accumsan augue Donec aliquam."
      >
        <CreativeIdeasIcon slot="icon" />
      </ValueCard>
      <ValueCard
        header="Best Features"
        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      >
        <BestFeaturesIcon slot="icon" />
      </ValueCard>
      <ValueCard
        header="Experience"
        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget accumsan augue Donec aliquam."
      >
        <ExperienceIcon slot="icon" />
      </ValueCard>
      <ValueCard
        header="Easy Solutions"
        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      >
        <EasySolutionsIcon slot="icon" />
      </ValueCard>
    </div>
  </div>
</section>

<style>
  section {
    padding: var(--spacing-2xl) 0;
  }

  .core-values {
    max-width: 600px;
    margin-bottom: var(--spacing-l);
  }

  .pc-flex-row.space-between {
    align-items: flex-end;
  }

  .mobile-wrap {
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
  }

  /* Classnames for different variants of the section/component */
  .light {
    background-color: var(--primary-color-shade);

    & .primary {
      background-color: var(--secondary-color);
      color: var(--secondary-text-color);
    }
  }

  .dark {
    background-color: var(--secondary-color);

    & h2,
    p {
      color: var(--secondary-text-color);
    }
  }

  @media (min-width: 769px) {
    section {
      padding: var(--spacing-3xl) 0;
    }

    .core-values {
      margin-bottom: 0;
    }

    .flex-row.gap-l {
      flex-wrap: nowrap;
    }
  }
</style>
