---
import ArrowIcon from "../icons/ArrowIcon.astro";
const { header, text, icon } = Astro.props;
---

<div class="card flex-col">
  <slot name="icon" />
  <h5 class="mt-l">{header}</h5>
  <p>{text}</p>
  <div class="flex-row align-center gap-xs">
    <h5>Read More</h5>
    <ArrowIcon />
  </div>
</div>

<style>
  .card {
    width: clamp(25%, 225px, 45%);
    height: auto;
    padding: var(--spacing-xl) var(--spacing-m);
    background-color: var(--primary-color);
    border-radius: var(--rounding-s);

    & p {
      padding-bottom: var(--spacing-l);
    }
  }
</style>
