---
import Button from "../components/Button.astro";
---

<section>
  <div>
    <h6>Growing With our clients</h6>
    <h2>Our core values & principles</h2>
    <p>
      Capitalize on low hanging fruit to identify a ballpark value added
      activity beta test. Override the digital divide with additional from
      DevOps.
    </p>
    <Button color="primary" buttonText="Get In Touch" />
  </div>
  <div></div>
</section>
