---
import ArrowIcon from "../icons/ArrowIcon.astro";
---

<div class="card flex-col">
  <h5>titel</h5>
  <p>Lorem</p>
  <div class="flex-row align-center gap-xs">
    <h5>Read More</h5>
    <ArrowIcon />
  </div>
</div>

<style>
  .card {
    width: clamp(28%, 225px, 50%);
    padding: var(--spacing-l) var(--spacing-m);
    background-color: var(--primary-color);
    border-radius: var(--rounding-s);

    & p {
      padding-bottom: var(--spacing-l);
    }
  }
</style>
